<div class="hv-50">
    <div class="p-1">
        <form class="p-2 border rounded" [formGroup]="dataForm">
            <div formArrayName="data">
                <div class="ps-2" *ngFor="let group of data.controls; let i = index">
                    <app-form-group [group]="group" [rowIndex]="i"></app-form-group>
                </div>
            </div>
            <div class="text-end">
                <button class="btn btn-primary" (click)="addDefaultFormGroup()">Add New Key</button>
            </div>
            <div class="w-25 ps-2">
                <label for="repeatFor_Full" class="form-label">* Repeat For</label>
                <input type="number" class="form-control" id="repeatFor_Full" formControlName="repeatFor" />
            </div>
        </form>
    </div>
    <div class="text-center mt-4">
        <button class="btn-block w-25 btn btn-success" (click)="submit()" [disabled]="dataForm.invalid">
            Generate Json
        </button>
    </div>
</div>
<div class="hv-50 bg-light">
    <pre *ngIf="generatedJsonData">
        {{generatedJsonData|json}}
    </pre>
</div>